body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  font-family: Sora, "Courier New", Courier, monospace;
}

.card {
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
  margin-top: 164px;
  padding: 16px 16px 20px 16px;
  width: 336px;
  border-radius: 10px;
  background: #fafaf9;
}

.tag {
  padding: 6px 16px;
  background: #f2eafd;
  color: #7c19ee;
  border-radius: 15px;
  width: 1;
  display: inline-block;
  margin: 16px 0;
  font-weight: bold;
  font-size: 10px;
}

img {
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
  color: #20293a;
}

.card-body {
  font-size: 14px;
  color: #394150;
}

.small-text {
  font-size: 12px;
}

hr {
  border-top: 0.5px solid #e5eaf0;
  display: block;
  margin: 20px 0;
  margin-left: -16px;
  margin-right: -16px;
}
